Checks: '*,-llvmlibc-*,-altera-*,-fuchsia-*,-google-build-using-namespace,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-avoid-c-arrays,-hicpp-no-array-decay,-modernize-use-trailing-return-type,-readability-function-cognitive-complexity'
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*'
FormatStyle: file